<?xml version='1.0' encoding='utf-8'?>
<widget id="com.ruthirsty.app" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>喝水打卡</name>
    <description>
        一个简单的喝水打卡应用
    </description>
    <author email="dev@ruthirsty.com" href="https://ruthirsty.com">
        RUthirsty Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <preference name="android-minSdkVersion" value="22" />
        <preference name="android-targetSdkVersion" value="34" />
        <preference name="android-compileSdkVersion" value="34" />
    </platform>
    <preference name="DisallowOverscroll" value="true" />
    <preference name="BackgroundColor" value="0xffffffff" />
    <preference name="Orientation" value="portrait" />
</widget>
